@charset "UTF-8";

body{ min-width: 320px; }

.inner{ width: 90%; }

header { 
    height: 400px;
}
header > .top {
    height: 45px;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}
header > .top::after {
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    background-color: #fff;
    opacity: .5;
    position: absolute;
    bottom: 0;
}
.logo {
    width: 87px;
    height: 16px;
    position: unset;
    left: unset;
    top: unset;
    transform: unset;
    /* display: block; */
}
.topR {
    position: unset;
    right: unset;
    top: unset;
}
.topR > a:nth-child(-n+4) {
    display: none;
}
.topR .search {
    display: none;
}
.topR .search.on {
    display: block;
}
.top:hover{
    background-color: transparent;
}
.gnb {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    flex-flow: column;
    justify-content: flex-start;
    background-color: #eee;
    /* opacity: .8; */
    z-index: 100;
    padding: 50px 0 0 0 ;
    transform: translateX(100%);
    transition: transform 0.5s;
}
.gnb.on {
    transform: translateX(0%);
    transition: transform 0.5s;
}
.depth1 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 5%;
    position: relative;
}
.depth1 > a:link, .depth1 > a:visited{
    /* position: relative; */
    margin: 0;
    font-size: 1.25rem;
    color: #000;
}
/* .depth1 > a::before, .depth1 > a::after{
    content: "\f078";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    width: 10px;
    height: 10px;
    font-weight: 500;
}
.depth1 > a::after {
    content: "\f077";
}
.fa-chevron-up:before {
    display: none;
} */
.depth2 {
    position: relative;
    top: unset;
    left: unset;
    margin: 0;
    padding: 20px 0 0 20px;
    width: auto;
    height: auto;
    overflow-y: hidden;
    flex-flow: column;
    background-color: transparent;
}
.depth1:hover .depth2 , .depth2:hover{
    height: auto;
}
.depth2 > li {
    width: auto;
    margin: 0;
}
.top:hover .depth2 > li > a:link,
.top:hover .depth2 > li > a:visited {
    /* color: #fff; */
    height: 40px;
    line-height: 40px;
    color: #000;
    font-weight: 500;
}
.top:hover .depth2 > li > a:hover,
.top:hover .depth2 > li > a:active{
    text-decoration: underline;
}
.depth3 {
    margin: 0 5%;
}
.depth3  > li {
    width: auto;
    height: 40px;
    line-height: 40px;
}
.depth3  > li::before {
    content: "-";
    margin: 0 10px 0 0 ;
}
.top:hover .depth3 a:link,
.top:hover .depth3 a:visited {
    color: #000;
}
.topR a:hover, .topR a:active {
    color: #fff;
}
.closeBt{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
    /* color: #fff; */
}

.mainVisual-c {
    position: relative;
    z-index: 9;
}
.mainVisual > .inner {
    justify-content: flex-end;
    padding: 5% 0;
}
.mainVisual > .inner > .title {
    line-height: 2.25rem;
    font-size: 2.5rem;
} 
.mainVisual > .inner > .subtitle {
    font-size: 1.25rem;
    margin: 10px 0 20px;
}
.moreBt {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 1px;
    color: transparent;
}
.moreBt::before {
    color: #fff;
    top: 50%;
    right: unset;
    left: 40%;
    transform: translateY(-50%);
    font-size: 1rem;
}

.swiper-pagination.main-paging {
    left: unset;
    right: 20px;
    bottom: 20px;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    color: #fff;
    opacity: .8;
}
main {
    padding: 0 0 10% 0;
}
section { 
    margin: 0; 
    padding: 5% 0;
}

.sec01 {
    height: auto;
}
.sec01 > .inner {
    flex-flow: column-reverse wrap;
    align-items: center;
}
.sec01 > .inner > .textG {
    width: 100%;
    height: auto;
    position: relative;
    padding: 0 ;
    text-align: center;
    margin: 5% 0 0 0;
}

section h1 {
    font-size: 1.25rem;
    margin: 20px 0 40px;
    text-align: center;
}

.sec01 > .inner > .textG > span {
    margin: 0 0 10px 0;
    font-size: 1rem;
}
.sec01 > .inner > .textG > p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.2rem; 
    height: 2.4rem;
    margin: 0 0 10% 0;
}
.sec01 > .inner > .textG > .moreBt {
    width: 30px;
    padding: 0;
    font-size: 1px;
    color: transparent;
    position: absolute;
    bottom: 0;
    border: 2px solid #999;
    left: 50%;
    transform: translateX(-50%);
}
.sec01 > .inner > .textG > .moreBt:hover {
    border-color: #999;
    background: transparent;
    color: transparent;
    opacity: .6;
}
.sec01 > .inner > .textG > .moreBt::before {
    color: #999;
    /* top: 50%;
    transform: translateY(-50%); */
}
.sec01 > .inner > .brandVideo {
    width: 100%;
    height: auto;
}
.sec01 > .inner > .brandVideo > iframe {
    width: 100%;
    height: 100%;
}
.sec02 { 
    padding: 5% 0;
}
.tabMenu {
    justify-content: center;
}
.favtab a {
    font-size: 1rem;
}
.box {
    padding: 20px;
}
.favCon, .favCon02 {
    width: 90%;
}
.product > span {
    font-weight: 600;
    text-align: center;
}
.productPic {
    width: 100%;
    height: 250px;
    margin: 0 0 20px 0;
}
.swiper-button-prev:after,
.swiper-button-next:after{
    font-size: 1.5rem;
}

.sec03 {
    height: 300px;
    margin: 10% 0;
}
.sec03 h2 {
    margin: 0 0 20px 0;
}
.sec03 .bg {
    width: 100%;
    height: 100%;
}
.sec03 .moreBt {
    display: none;
}
.sec03 .expandBt {
    display: none;
}
.sec03 h2 {
    font-size: 1.25rem;
}
.sec04 {
    background: #f3f3f3;
    padding: 5% 0;
}
.sec04 .moreBt {
    display: none;
}
.sec04 .mediaG{
    /* width: 280px; */
    height: 350px;
    padding: 50px 0;
    margin: 0;
}
.sec04 .media {
    width: 100%;
    min-width: 280px;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.sec04 .media:hover i {
    display: none;
}
.swiper-button-next.mediaBt {
    display: flex;
    top: auto;
    right: unset;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);    
}
.swiper-button-prev.mediaBt{
    display: flex;
    top: 10px;
    right: unset;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
}
.sec04 .swiper-button-next:after,
.sec04 .swiper-button-prev:after {
    font-size: 2rem;
    color: #999;
}
.sec05 {
    margin: 0 0 50px 0;
}
.storeG {
    flex-direction: column;
    height: 60vh;
}
.store {
    width: 100%;
    height: 25%;
    padding: 5%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: unset;
    /* color: #fff; */
}
.store > span {
    margin: 0;
    color: white;
    font-size: 1.25rem;
}
.store > p {
    display: none;
}
.store > .moreBt {
    width: 30px;
    height: 30px;
    color: transparent;
    text-shadow: none;
    bottom: unset;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.store > .moreBt::before {
    font-size: 1rem;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
}
.store:hover > .moreBt:hover {
    background: none;
    border: 2px solid #fff;
    opacity: .5;
}
.topBt {
    right: 10px ;
    bottom: 10px ;
}
.topBt.bottom {
    bottom: 430px;
}

footer {
    padding: 5% 0 10%;
    display: flex;
    flex-direction: column;
    word-break: keep-all;
}
footer .inner {
    position: relative;
}
footer .logo{
    background-position-y: -17px;
    width: 87px;
    height: 20px;
    position: absolute;
    top: unset;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
footer .menu, footer .tel, footer .addr{
    text-align: center;
}
footer .tel span {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 10px 10px 0;
}

footer .sns {
    position: unset;
    top: unset;
    right: unset;
    justify-content: center;
    margin: 5% 0 10%;
    position: relative;
}
footer .sns > a {
    width: 35px;
    height: 35px;
    font-size: 1.2rem;
}

.mouseScroll {
    display: none;
}
.gnbBg.on {
    display: none;
}