@charset "utf-8";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Sharp');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');


* { margin: 0 ; padding: 0;  box-sizing: border-box;
    /* border: 1px solid red ; */
} 
:root { 
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}

li {
    list-style: none;
}

.inner {
    width: 1300px;
    margin:  0 auto ;
}

body { 
    min-width: 1080px;
}

a:link , a:visited {
    text-decoration: none;
}
.closeBt { display: none;}
/*-------*/

header { 
    width: 100%;
    height: 960px;
    position: relative;

}
.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 90px;
    /* transition: top 0.2s ease-in-out; */
    transition: transform 0.7s 0.3s ease;
}
.top.hideBar{ transform: translate(0, -100%); }

.logo {
    position: absolute;
    left: 20px;
    top: 50%;
    width: 120px;
    height: 23px;
    background: url(../images/jakomo/icon/mainLogo.png) 0 0 no-repeat;
    background-size: cover;
    transform: translateY(-50%);
    /* display: block; */
}

.topR {
    height: 100%;
    position: absolute;
    right: 20px;
    top: 0;
    display: flex;
    align-items: center;
}
.top:hover{
    background-color: #000;
}

.gnb {
    display: flex;
    flex-flow: row wrap;
}
.depth1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.depth1 > a:link, .depth1 > a:visited{
    font-weight: 600;
    color: #fff;
    margin: 0 20px;
}
.depth1 > a:hover, .depth1 > a:active {
    color: #aba000;
}
/* .depth1 > a::before, .depth1 > a::after {
    display: none;
} */
.depth2 {
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    height: 0;
    overflow-y: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #000;
}
.depth1:hover .depth2 , .depth2:hover{
    height: 300px;
    transition: height 1s ;
}
.depth2 > li {
    width: 15%;
    margin: 20px 0;
}
.top:hover .depth2 > li > a:link,
.top:hover .depth2 > li > a:visited {
    color: #888;
    font-weight: 600;
}
.top:hover .depth2 > li > a:hover,
.top:hover .depth2 > li > a:active{
    color: #fff;
}
.top:hover .depth3 > li > a:hover,
.top:hover .depth3 > li > a:active {
    text-decoration: underline;
}
.depth3 {
    margin: 10px 0 0 10px;
}
.depth3 li {
    margin: 5px 0 0 0;
}
.top:hover .depth3 a:link,
.top:hover .depth3 a:visited {
    color: #666;
}

.topR a:link, .topR a:visited {
    color:#fff;
    position: relative;
    margin: 0 0 0 15px;
    display: flex;
    align-items: center;
}
.topR span {
    font-size: 1.6rem;
}
.topR a:hover, .topR a:active {
    color: #aba000;
}
.topR .search {
    display: flex;
}
.topR .search input {
    width: 150px;
    padding: 0 5%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    opacity: .5;
}
.topR .search a{
    margin: 0;
}
/* .topR > a:nth-of-type(2)::after {
    content: '';
    width: 1px;
    height: 15px;
    background-color: #555;
    position: absolute;
    top: 5px;
    right: -7px;
} */

.mainVisual-c {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 9;
}
.mainVisual {
    width: 100%;
    height: 100%;
}
.mainVisual:nth-child(1){
    background: linear-gradient(rgba(0,0,0,0.1) 50% , rgba(0,0,0,0.1) 50%), url(../images/jakomo/header-main/luina.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.mainVisual:nth-child(2){
    background: linear-gradient(rgba(0,0,0,0.2) 50% , rgba(0,0,0,0.2) 50%), url(../images/jakomo/header-main/newGlangche.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.mainVisual:nth-child(3){
    background: linear-gradient(rgba(0,0,0,0.2) 50% , rgba(0,0,0,0.2) 50%), url(../images/jakomo/header-main/the-benny.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.mainVisual:nth-child(4){
    background: linear-gradient(rgba(0,0,0,0.2) 50% , rgba(0,0,0,0.2) 50%), url(../images/jakomo/header-main/latte-papa.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.mainVisual > .inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 10px 10px 20px rgba(0,0,0,0.1);
    color: #fff;
    /* color: white; */
}
.mainVisual > .inner > .title {
    line-height: 4.5rem;
    font-size: 5rem;
    font-weight: 600;
} 
.mainVisual > .inner > .subtitle {
    font-size: 1.5rem;
    margin: 40px 0 150px;
}
.moreBt {
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    /* border: 1px solid #fff; */
    /* font-size: .8rem; */
    font-weight: 600;
    cursor: pointer;
    position: relative;
    transition: all 0.2s;
}
.moreBt::before {
    display: inline-block;
    content: '\f054';
    font-size: 0.8rem;
    font-weight: 400;
    position: absolute;
    right: 25px;
    top: 0;
}
.moreBt:hover{
    opacity: 0.6;
}
.swiper-pagination.main-paging {
    width: auto;
    position: absolute;
    bottom: 80px;
    left: unset;
    right: 350px;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}
.swiper-pagination.main-paging > span {
    background: none;
}
.swiper-pagination-bullet{
    color: #fff;
    opacity: 0.6;
}
.main-paging .swiper-pagination-bullet-active{
    margin: 0 50px !important;
    opacity: 1;
    color: #fff;
}
main { position: relative;}
section { margin: 0 0 150px 0; }

.sec01 {
    height: 600px;
    background-color: #f5f5f5;
}
.sec01 > .inner {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    align-items: center;
}
.sec01 > .inner > .textG {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 40px 0 0;
}
section h1 {
    font-size: 2.5rem;
    margin: 0 0 40px 0;
}
.sec01 > .inner > .textG > span {
    margin: 0 0 20px 0;
    font-size: 1.8rem;
}
.sec01 > .inner > .textG > p {
    word-break: keep-all;
}
.sec01 > .inner > .textG > .moreBt {
    /* color: #fff; */
    width: 200px;
    padding: 0 50px;
    border: 1px solid #444;
    bottom: -40px;
}
.sec01 > .inner > .textG > .moreBt:hover {
    border-color: transparent;
    background: #7d6c23;
    color: #fff;
    opacity: .9;
}
.sec01 > .inner > .brandVideo {
    width: 50%;
    height: 70%;
}
.sec01 > .inner > .brandVideo > iframe {
    width: 100%;
    height: 100%;
    min-height: 300px;
}

.sec02 { 
    height: auto;
    padding: 50px 0;
}
.sec02 .inner h1 {
    width: 100%;
}
.tabMenu {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    margin: 0 0 20px 0;
}
.favtab a {
    margin: 0 20px 0 0;
    color: #b8b8b8;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 500;
}
.favtab.on a { color: #000; }
.favtab a:hover { color: #000; }
.box { display: none; }
.box.on {
    display: block;
    width: 100%;
    height: auto;
    padding: 40px;
    position: relative;
}

.favCon,.favCon02 {
    width: 85%;
    height: auto;
    margin: 0 auto;
}

.sec02 .productG {
    display: flex;
    justify-content: space-between;
}
.sec02 .productG .product {
    height: auto;
    display: flex;
    flex-direction: column;
}
.productPic {
    width: 100%;
    height: 300px;
    margin: 0 0 20px 0;
    cursor: pointer;
}
.product.p01 > .productPic {
    background: url(../images/jakomo/ourFavorites/newClever.png) 50% 50% no-repeat;
    background-size: 100%;
}
.product.p01 > .productPic:hover {
    background: url(../images/jakomo/ourFavorites/newClever.png) 50% 50% no-repeat, #eee;
    background-size: 100%;
}
.product.p02 > .productPic {
    background: url(../images/jakomo/ourFavorites/newt.png) 50% 50% no-repeat;
    background-size: 80%;
    /* background-size: contain; */
}
.product.p02 > .productPic:hover {
    background: url(../images/jakomo/ourFavorites/newt.png) 50% 50% no-repeat, #eee;
    background-size: 80%;
}
.product.p03 > .productPic {
    background: url(../images/jakomo/ourFavorites/elio.png) 50% 50% no-repeat;
    background-size: 80%;
    /* background-size: contain; */
}
.product.p03 > .productPic:hover {
    background: url(../images/jakomo/ourFavorites/elio.png) 50% 50% no-repeat, #eee;
    background-size: 80%;
}
.product.p04 > .productPic {
    background: url(../images/jakomo/ourFavorites/flea.png) 50% 50% no-repeat;
    background-size: 80%;
    /* background-size: contain; */
}
.product.p04 > .productPic:hover {
    background: url(../images/jakomo/ourFavorites/flea.png) 50% 50% no-repeat, #eee;
    background-size: 80%;
}
.product.p05 > .productPic {
    background: url(../images/jakomo/ourFavorites/bani.png) 50% 50% no-repeat;
    background-size: 80%;
    /* background-size: contain; */
}
.product.p05 > .productPic:hover {
    background: url(../images/jakomo/ourFavorites/bani.png) 50% 50% no-repeat, #eee;
    background-size: 80%;
}
.product.p06 > .productPic {
    background: url(../images/jakomo/ourFavorites/elony.png) 50% 50% no-repeat;
    background-size: 100%;
}
.product.p06 > .productPic:hover {
    background: url(../images/jakomo/ourFavorites/elony.png) 50% 50% no-repeat, #eee;
    background-size: 100%;
}

.box.second .product.p02 > .productPic {
    background: url(../images/jakomo/ourFavorites/kaiser.png) 50% 50% no-repeat;
    background-size: 80%;
}
.box.second .product.p02 > .productPic:hover {
    background: url(../images/jakomo/ourFavorites/kaiser.png) 50% 50% no-repeat, #eee;
    background-size: 80%;
}
.box.second .product.p01 > .productPic {
    background: url(../images/jakomo/ourFavorites/charlotte.png) 50% 50% no-repeat;
    background-size: 60%;
    /* background-size: contain; */
}
.box.second .product.p01 > .productPic:hover {
    background: url(../images/jakomo/ourFavorites/charlotte.png) 50% 50% no-repeat, #eee;
    background-size: 60%;
}
.box.second .product.p03 > .productPic {
    background: url(../images/jakomo/ourFavorites/luka.png) 50% 50% no-repeat;
    background-size: 60%;
    /* background-size: contain; */
}
.box.second .product.p03 > .productPic:hover {
    background: url(../images/jakomo/ourFavorites/luka.png) 50% 50% no-repeat, #eee;
    background-size: 60%;
}
.box.second .product.p04 > .productPic {
    background: url(../images/jakomo/ourFavorites/campbell.png) 50% 50% no-repeat;
    background-size: 90%;
    /* background-size: contain; */
}
.box.second .product.p04 > .productPic:hover {
    background: url(../images/jakomo/ourFavorites/campbell.png) 50% 50% no-repeat, #eee;
    background-size: 90%;
}
.box.second .product.p05 > .productPic {
    background: url(../images/jakomo/ourFavorites/winsome.png) 50% 50% no-repeat;
    background-size: 70%;
    /* background-size: contain; */
}
.box.second .product.p05 > .productPic:hover {
    background: url(../images/jakomo/ourFavorites/winsome.png) 50% 50% no-repeat, #eee;
    background-size: 70%;
}
.box.second .product.p06 > .productPic {
    background: url(../images/jakomo/ourFavorites/laurent.png) 50% 50% no-repeat;
    background-size: 80%;
}
.box.second .product.p06 > .productPic:hover {
    background: url(../images/jakomo/ourFavorites/laurent.png) 50% 50% no-repeat, #eee;
    background-size: 80%;
}
.product > span {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
.box .swiper-button-prev:after,
.box .swiper-button-next:after{
    font-size: 2rem;
    color: #999;
}

.sec03 { margin: 0;}
.sec03 h2 {
    margin: 0 0 40px 0;
    text-align: center;
    font-size: 2rem;
}
.sec03 .bg {
    width: 100%;
    height: 650px;
    background: linear-gradient(rgba(0,0,0,0.1) 50% , rgba(0,0,0,0.1) 50%), url(../images/jakomo/nav/better-me.jpg) 50% 70% no-repeat;
    background-size: cover;
    position: relative;
}
.sec03 .inner {
    /* margin: 50px 0 0 0 ; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    position: relative;
}
.sec03 .inner .moreBt {
    color: #fff;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    margin: 0px 10px 100px 0px
}
.expandBt {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0.9;
    position: absolute;
    font-size: 1.75rem;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.expandBt:hover {
    border: none;
    background-color: #aba000;
    transition: all .5s;
}
.e0 {
    top: 200px;
    left: 400px;
}
.e1 {
    bottom: 200px;
    left: 700px;
}
.e2 {
    bottom: 200px;
    left: -170px;
}
.e3 {
    top: 250px;
    right: 300px;
}
.popupBg, .popup {
    display: none;
}
.popupBg.on {
    display: block;
    position: fixed;
    top: 0;
    height: 0;
    z-index: 300;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}
.popup.on {
    display: block;
    position: absolute;
    width: 400px;
    margin: 40px;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
}
.popup .popupTitle {
    height: 60px;
    line-height: 60px;
    font-size: 1.5rem;
    font-weight: 600;
}
.popup .close {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.popup > .popupPic {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 400px;
}
.popup > .popupPic .circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 1px solid #fff;
    opacity: 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
    transition: all .8s;
    cursor: pointer;
}
.popup > .popupPic:hover .circle {
    opacity: .9;
}
.popup > .popupPic span {
    margin: 0 0 20px 0;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.popup > .popupPic span:nth-child(2) {
    font-size: 3rem;
    font-weight: 300;
}
.popup.u0 {
    top: 100px;
    left: 400px;
}
.popup.u1 {
    top: 200px;
    left: 700px;
}
.popup.u2 {
    top: 200px;
    left: 0;
}
.popup.u3 {
    top: 150px;
    right: 300px;
}

.popup.u0 > .popupPic{
    background: url(../images/jakomo/exapndPopup/sofa.png) 50% 50% no-repeat;
    background-size: cover;
}
.popup.u1 > .popupPic{
    background: url(../images/jakomo/exapndPopup/table.png) 50% 50% no-repeat;
    background-size: cover;
}
.popup.u2 > .popupPic{
    background: url(../images/jakomo/exapndPopup/stool.png) 50% 50% no-repeat;
    background-size: cover;
}
.popup.u3 > .popupPic{
    background: url(../images/jakomo/exapndPopup/cushion.png) 50% 50% no-repeat;
    background-size: cover;
}

.sec04 {
    background: linear-gradient(#f3f3f3 80%, #ffffff 20%) 0 0 no-repeat;
    padding: 200px 0 0 0;
    position: relative;
}
.sec04 .inner{
    position: relative;
}
.sec04 .moreBt {
    width: 200px;
    padding: 0 50px;
    border: 1px solid #666;
    position: absolute;
    right: 0;
}
.sec04 .moreBt:hover {
    border-color: transparent;
    background: #7d6c23;
    color: #fff;
    opacity: .9;
}
.sec04 .mediaG{
    margin: 120px 0 200px ;
}
.sec04 .media {
    height: 190px;
    margin: 0 20px 0 0 ;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    /* padding: 0; */
}
.sec04 .media.m01 {
    background: url(../images/jakomo/jakomoInTv/펜트하우스.png) 50% 50% no-repeat;
    background-size: cover;
}
.sec04 .media.m01:hover {
    background: linear-gradient(rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.4) 50%),
    url(../images/jakomo/jakomoInTv/펜트하우스.png) 50% 50% no-repeat;
    background-size: cover;
}
.sec04 .media.m02 {
    background: url(../images/jakomo/jakomoInTv/여신강림.png) 50% 50% no-repeat;
    background-size: cover;
}
.sec04 .media.m02:hover {
    background: linear-gradient(rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.4) 50%),
    url(../images/jakomo/jakomoInTv/여신강림.png) 50% 50% no-repeat;
    background-size: cover;
}
.sec04 .media.m03 {
    background: url(../images/jakomo/jakomoInTv/사생활.png) 50% 50% no-repeat;
    background-size: cover;
}
.sec04 .media.m03:hover {
    background: linear-gradient(rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.4) 50%),
    url(../images/jakomo/jakomoInTv/사생활.png) 50% 50% no-repeat;
    background-size: cover;
}
.sec04 .media.m04 {
    background: url(../images/jakomo/jakomoInTv/ohmybaby.png) 50% 50% no-repeat;
    background-size: cover;
}
.sec04 .media.m04:hover {
    background: linear-gradient(rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.4) 50%),
    url(../images/jakomo/jakomoInTv/ohmybaby.png) 50% 50% no-repeat;
    background-size: cover;
}
.sec04 .media.m05 {
    background: url(../images/jakomo/jakomoInTv/거짓말의거짓말.png) 50% 50% no-repeat;
    background-size: cover;
}
.sec04 .media.m05:hover {
    background: linear-gradient(rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.4) 50%), 
    url(../images/jakomo/jakomoInTv/거짓말의거짓말.png) 50% 50% no-repeat;
    background-size: cover;
}
.sec04 .media.m06 {
    background: url(../images/jakomo/jakomoInTv/펜트하우스2.png) 50% 50% no-repeat;
    background-size: cover;
}
.sec04 .media.m06:hover {
    background: linear-gradient(rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.4) 50%),
    url(../images/jakomo/jakomoInTv/펜트하우스2.png) 50% 50% no-repeat;
    background-size: cover;
}
.sec04 .media.m07 {
    background: url(../images/jakomo/jakomoInTv/우아한친구들.png) 50% 50% no-repeat;
    background-size: cover;
}
.sec04 .media.m07:hover {
    background: linear-gradient(rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.4) 50%),
    url(../images/jakomo/jakomoInTv/우아한친구들.png) 50% 50% no-repeat;
    background-size: cover;
}
.sec04 .media.m08 {
    background: url(../images/jakomo/jakomoInTv/진심이닿다.png) 50% 50% no-repeat;
    background-size: cover;
}
.sec04 .media.m08:hover {
    background: linear-gradient(rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.4) 50%),
    url(../images/jakomo/jakomoInTv/진심이닿다.png) 50% 50% no-repeat;
    background-size: cover;
}
.sec04 .media i,
.sec04 .media span {
    display: none;
}
.sec04 .media:hover i,
.sec04 .media:hover span {
    display: block;
}
.sec04 .media i {
    width: 100%;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    cursor: pointer;    
    transition: all .7s;
}
.sec04 .media i:hover {
    transform: scale( 1.5 );
    opacity: .8;
}
.sec04 .media span {
    color: #fff;
}
.sec04 .mediaTitle{
    font-size: 1.25rem;
    font-weight: 500;
}
.swiper-button-next.mediaBt,
.swiper-button-prev.mediaBt{
    display: none;
}

.sec04 .modalBg, 
.sec04 .modal, 
.sec04 .modalContent  {
    display: none;
}
.sec04 .modalBg.on {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}
.sec04 .modal.on {
    display: block;
    width: 50%;
    text-align: center;
}
.sec04 .modalContent.on{
    display: block;
    position: relative;
    padding-bottom: 56%;
    overflow: hidden;
    width:100%;  
}
.sec04 .modalContent iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.sec04 .modal span {
    margin: 20px 0 0 0 ;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

.sec05 { 
    margin: 0 0 200px 0;
}
.storeG {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.store {
    width: 24%;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    position: relative;
}
.store > span {
    color: white;
    margin: 0 0 45px 0;
    font-size: 2rem;
    /* font-weight: 00; */
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}
.store > p {
    margin: 0 0 80px 0;
    height: 40px;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    word-break: keep-all;
    opacity: 0;
    transition: all 1s;
    /* font-size: 0.8rem; */
}
.store:hover > span {
    opacity: .5;
}
.store:hover > p {
    opacity: 1;
}
.store > .moreBt {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
    bottom: 20px;
    color: transparent;
    font-size: 1px;
    opacity: 0;
}
.store > .moreBt::before {
    color: #fff;
    top: 50%;
    right: unset;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5rem;
    
}
.store:hover > .moreBt {
    border: 2px solid #fff;
    opacity: 1;
}
.store:hover > .moreBt:hover {
    background: #7d6c23;
    border: none;
}
.store.s0{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/jakomo/our-space/showroom1.png) 50% 50% no-repeat;
    background-size: 550px;
    background-blend-mode: multiply;    
}
.store.s0:hover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/jakomo/our-space/showroom1.png) 50% 50% no-repeat;
    background-size: 600px;
    background-blend-mode: multiply;
    transition: all 1s;
}
.store.s1{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/jakomo/our-space/showroom2.png) 50% 50% no-repeat;
    background-size: 550px;
    background-blend-mode: multiply;
}
.store.s1:hover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/jakomo/our-space/showroom2.png) 50% 50% no-repeat;
    background-size: 600px;
    background-blend-mode: multiply;
    transition: all 1s;
}
.store.s2{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/jakomo/our-space/showroom3.png) 50% 50% no-repeat;
    background-size: 600px;
    background-blend-mode: multiply;
}
.store.s2:hover {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/jakomo/our-space/showroom3.png) 50% 50% no-repeat;
    background-size: 650px;
    background-blend-mode: multiply;
    transition: all 1s;
}
.store.s3{
    background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(../images/jakomo/our-space/showroom4.png) 50% 50% no-repeat;
    background-size: 550px;
    background-blend-mode: screen;
}
.store.s3:hover {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/jakomo/our-space/showroom4.png) 50% 50% no-repeat;
    background-size: 600px;
    background-blend-mode: multiply;
    transition: all 1s;
}
/* 스토어 스크립트 x */
/* 
.store:nth-child(1){
    background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url(../images/jakomo/our-space/showroom1.png) 50% 50% no-repeat;
    background-size: 550px;
    background-blend-mode: screen;    
}
.store:nth-child(1):hover {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/jakomo/our-space/showroom1.png) 50% 50% no-repeat;
    background-size: 600px;
    background-blend-mode: multiply;
    transition: all 1s;
}
.store:nth-child(2){
    background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(../images/jakomo/our-space/showroom2.png) 50% 50% no-repeat;
    background-size: 550px;
    background-blend-mode: screen;
}
.store:nth-child(2):hover {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/jakomo/our-space/showroom2.png) 50% 50% no-repeat;
    background-size: 600px;
    background-blend-mode: multiply;
    transition: all 1s;
}
.store:nth-child(3){
    background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(../images/jakomo/our-space/showroom3.png) 50% 50% no-repeat;
    background-size: 500px;
    background-blend-mode: screen;
}
.store:nth-child(3):hover {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/jakomo/our-space/showroom3.png) 50% 50% no-repeat;
    background-size: 550px;
    background-blend-mode: multiply;
    transition: all 1s;
}
.store:nth-child(4){
    background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(../images/jakomo/our-space/showroom4.png) 50% 50% no-repeat;
    background-size: 550px;
    background-blend-mode: screen;
}
.store:nth-child(4):hover {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/jakomo/our-space/showroom4.png) 50% 50% no-repeat;
    background-size: 600px;
    background-blend-mode: multiply;
    transition: all 1s;
} */

.topBt { opacity: 0;}
.topBt.on {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 100px;
    bottom: 300px;
    z-index: 300;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    transition: all .5s ease;
    opacity: 1;
}
.topBt.on:hover {
    background-color: #7d6c23;
}
footer {
    width: 100%;
    height: auto;
    padding: 40px;
    position: relative;
    background-color: rgb(80, 80, 80);
    text-align: center;
}
footer .logo{
    background-position-y: -23px;
    top: 40px;
    left: 40px;
    transform: translateY(0);
}
footer .menu {
    margin: 0 0 15px 0 ;
}
footer .menu > span {
    margin: 0 21px 0 0;
    position: relative;
}
footer .menu > span::after {
    content: '';
    width: 1px;
    height: 15px;
    background-color: #333;
    position: absolute;
    top: 5px;
    right: -11px;
}
footer .menu > span:last-of-type::after{
    display: none;
}
footer .tel{
    margin: 0 0 15px 0;
}
footer .tel > span {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0 10px 10px 0;
}
footer .sns {
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    flex-direction: row;
}
footer .sns > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: #000;
    margin: 0 0 0 10px;
    color: #fff;
}


/* 마우스 스크롤 에니메이션 */
.mouseScroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 100;
    margin: 0 0 30px 0;
    text-align: center;
    opacity: .9;
    color: #fff;
    font-size: 0.8rem;
}
.mouseScroll .mouse{
    display: block;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 40px;
    margin: 0 0 7px 0;
    border: 2px solid #fff;
    border-radius: 50px;
 }
.mouseScroll .mouse::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: "";
    width: 5px;
    height: 5px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    animation: scrollDown 2s infinite;
}

@keyframes scrollDown {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}


/* --전체메뉴-- */
.gnbBg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 1s;
}
.gnbBg.on {
    display: block;
}
.gnb2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 50px;
    width: 70%;
    background-color: #fff;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}
.gnb2 .depth1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 20%;
    height: auto;
}
.gnb2 .depth1 > a:link,
.gnb2 .depth1 > a:visited {
    position: relative;
    margin: 0 0 40px 0;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
}
.gnb2 .depth1 > a:hover,
.gnb2 .depth1 > a:active {
    color: #000;
}
.gnb2 > .depth1::before {
    content: "";
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    /* transform: translateY(-50%); */
    width: 1px;
    height: 100%;
    background-color: burlywood;
}
.gnb2 > .depth1:nth-of-type(4)::before {
    display: none;
}
.gnb2 .depth2 {
    position: unset;
    top: unset;
    left: unset;
    overflow-y: unset;
    width: 100%;
    height: auto;
    background-color: transparent;
}
.gnb2 .depth1:hover .depth2 ,
.gnb2 .depth2:hover{
    height: auto;
}

.gnb2 .depth2 li {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 10px 0;
}
.gnb2 .depth2 > li a:link, 
.gnb2 .depth2 > li a:visited {
    /* position: relative; */
    color: #000;
    font-size: 1.25rem;
    font-weight: 500;
}
/* .gnb2 .depth1:nth-child(1) .depth2 > li:nth-child(1) > a::before,
.gnb2 .depth1:nth-child(2) .depth2 > li > a::before {
    content: "\f107";
    display: block;
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
} */
.gnb2 .depth3 {
    margin: 0;
}
.gnb2 .depth3 li {
    margin: 10px 0;
}
.gnb2 .depth3 li a:link,
.gnb2 .depth3 li a:visited {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
}
.gnb2 .depth3 li a:hover {
    text-decoration: underline;
}
.gnb2 > .closeBt {
    display: block;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    cursor: pointer;
}
.gnb2 > .closeBt > span {
    font-size: 2.5rem;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.gnbBg.none{
    display: none;
}
.vrBanner {
    margin-bottom: 150px;
}
.vrBanner > div {
    display: flex;
    padding: 40px;
    height: 400px;
    background: url(../images/jakomo/vrBanner/vrBannerBg.png) 50% 50% ;
    background-size: cover;
}
.vrText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.vrText img {
    width: 40px;
    height: 40px;
    margin: 0 0 20px 0;
}
.vrText span {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}
.vrText span:nth-of-type(1){
    font-size: 2.5rem;
    font-weight: 600;
}
.vrText p {
    margin: 20px 0;
    color: #fff;
}
.vrBt {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 200px;
    /* height: 40px; */
    background: transparent;
    border: 1px solid #7d6c23;
    color: #fff;
    transition: all .5s ease;
    opacity: .8;
    cursor: pointer;
}
.vrBt:hover {
    background: #7d6c23;
}
.vrPic {
    width: 50%;
}