@charset "utf-8";

a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #ccc;
    border: 3px solid #bbb;
    border-radius: 20px;
    color: #222;
    text-decoration: none;
    font-weight: 800;
}